<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>
        公司简介
    </title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/weui.css">

</head>
<body style="padding: 5px; text-align: center; background-image: url('{{ STATIC_URL }}img/company1.jpg'); background-size: 100% 100%;">
    <article class="weui_article">
    <h1>成都二十四小时科技有限公司</h1>
    <section style="text-align: left">
        <p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp成都二十四小时科技有限公司成立于2016年2月，公司坐落于成都高新西区，专注在穿戴式监护设备领域的研发，特别是聚焦孕婴智能硬件的产品研发和生产。公司拥有全国一流的胎儿遗传和发育研究领域的专家和儿科专家，技术团队和管理团队成员主要由在国内外知名大公司从事研发和管理的归国博士、博士后、教授专家组成，其中博士占43%，并且在四川大学华西医学中心和成都信息工程大学分别建立了实验室，提供新技术研发和产品研制。公司依托高校资源，以最优的产学研发展模式，秉承"诚信、创新、合作、感恩"企业文化，始终坚持科技创新合作与市场应用相结合。
        </p>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</article>
</body>

</html>

